@{
    ViewBag.Title = "People";
}

<h1>People</h1>
<p class="text-muted">MVCGrid running on ASP.NET Core (net8) via <code>MVCGrid.AspNetCore</code>.</p>

<div class="row" style="margin-bottom: 10px;">
    <div class="col-md-7 form-inline">
        <div class="form-group">
            <label>First name:
                <input type="text" class="form-control" placeholder="filter"
                       data-mvcgrid-type="filter" data-mvcgrid-option="FirstName"
                       data-mvcgrid-name="peopleGrid" data-mvcgrid-apply-filter="keyup" />
            </label>
        </div>
        <div class="form-group">
            <label>Last name:
                <input type="text" class="form-control" placeholder="filter"
                       data-mvcgrid-type="filter" data-mvcgrid-option="LastName"
                       data-mvcgrid-name="peopleGrid" data-mvcgrid-apply-filter="keyup" />
            </label>
        </div>
    </div>
    <div class="col-md-5 text-right form-inline">
        <label>Page size:
            <select class="form-control" data-mvcgrid-type="pageSize" data-mvcgrid-name="peopleGrid">
                <option>10</option>
                <option>25</option>
                <option>50</option>
            </select>
        </label>
        <button class="btn btn-default" data-mvcgrid-type="export" data-mvcgrid-name="peopleGrid">
            Export CSV
        </button>
    </div>
</div>

@Html.MVCGrid("peopleGrid")
