@{
    ViewBag.Title = "Detail";
}

<h1>Person @ViewBag.Id</h1>
<p>This is the detail page linked from the grid's <strong>View</strong> column (exercises <code>UrlHelper.Action</code>).</p>
<a href="/" class="btn btn-default">&laquo; Back to grid</a>
